body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightblue;
    
}
.images {
    background: url(img/bcg-0.jpeg)center/cover no-repeat;
    flex: 0 0 80%;
    min-height: 70vh;
    border-radius: 15px;
    position: relative;
    -webkit-box-shadow: 14px 35px 96px 17px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 35px 96px 17px rgba(0,0,0,0.75);
box-shadow: 14px 35px 96px 17px rgba(0,0,0,0.75);
 
 
    
}
.btn {
display: inline-block;
    font-size: 1.5rem;
    border: solid 3px black;
    background: white;
    outline: none;
    border-radius: 50px;
    color: gray;

}
.prevBtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

}
.nextBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);

}
.btn:active {
    background: grey;
    box-shadow: 1px 1px grey;
}
.btn:hover {
    background: rgb(1, 14, 1);
    color: white;
    cursor: pointer;
}