body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url('img/background.jpg') center/cover no-repeat;
}
.images {
    background: url(img/bcg-0.jpeg)center/cover no-repeat;
    flex: 0 0 80%;
    min-height: 70vh;
    border-radius: 15px;
    position: relative;
    box-shadow: 5px 10px;
    
}
.btn {
display: inline-block;
    font-size: 1.5rem;
    border: solid 3px green;
    background: white;
    outline: none;

}
.prevBtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

}
.nextBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);

}